
<section class="header">
    <nav>

        <a href="" routerLink="/dashboard">


             <img src="/assets/hotel-icon.jpg" height="150px" width="150px" style="border-radius: 50%;"
                alt="..."> 

        </a>
        <div class="nav-links" id="navLinks">

            <div class="d-flex">
                <ul>
                    <li style="text-align:center"><button mat-button href="" routerLink="/owner">Owner</button></li>
                    <br>
                    <li style="text-align:center"><button mat-button href="" routerLink="/manager">Manager</button></li>
                    <br>
                    <li style="text-align:center"><button mat-button href="" routerLink="/receptnt">Receptionist</button></li>
                    

        </ul>
        </div>
        </div>
    </nav>

<section class="center" style="text-align: center;">
    <h2 style="text-align: center;color:black">[.....All Department Details.....]</h2>
    <div class="d-flex">
        <table class="table table-hover table-dark table-bordered">
            <thead>
                <tr>
                    <th>Department Id</th>
                    <th>Department Name</th>
                    <th>Description</th>
                    <th>No Of Employees</th>
                    <th>Edit</th> 
                    <th>Delete</th>
        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of department">
                    <td>{{department.departmentID}}</td>
                    <td>{{department.departmentName}}</td>
                    <td>{{department.desc}}</td>
                    <td>{{department.no_of_Emp}}</td>
                     <td>
                        <button class="btn btn-success" type="button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" 
                        (click)="onEditDept(department)"><mat-icon>edit</mat-icon></button>
                        </td>
                        <td>
                        <button class="btn btn-danger" type="button" type="button" (click)="deleteDept(department)"><mat-icon>delete</mat-icon></button>
                    </td>           
                </tr>
            </tbody>
        </table>
    </div>
       

    <button class="btn btn-success" type="button" data-bs-toggle="modal"
    data-bs-target="#exampleModal">Add Department Details</button>

</section>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Booking Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Department ID</label>
                            <input type="text" formControlName="departmentID" placeholder="Department ID" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Department Name</label>
                            <input type="text" formControlName="departmentName" placeholder="Department Name" class="form-control"
                                id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Description</label>
                            <input type="text" formControlName="desc" placeholder="Description" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">No Of Employees</label>
                            <input type="text" formControlName="no_of_Emp" placeholder="No of Employees" class="form-control"
                                id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        
                        
                    </form>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                
                  <button type="button" class="btn btn-primary" (click)="updateDept()">Update Details</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="adddeptto()">Add Details</button>
                
                
                </div>
            </div>
        </div>
    </div>