
<section class="header">
    <nav>
  
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        
               <img src="/assets/images.png"
                           
                height="100px" width="100px" style="border-radius: 50%;" alt="...">
  
               
            </div>
        </nav>
            
        
      
      <div class="nav-links" id="navLinks">
      <div class="d-flex">
        <ul>
          <li>  <button mat-button color="accent" routerLink="/dashboard">ｌσ𝓰𝐎ย𝕥<mat-icon>login</mat-icon></button></li>
          <br>
          <li><button mat-button colour="accent" href="" routerLink="/dept">𝕯𝖊𝖕𝖆𝖗𝖙𝖒𝖊𝖓𝖙 𝕯𝖊𝖙𝖆𝖎𝖑𝖘</button></li>
          <br>
  
          <li> <button mat-button colour="accent" href="" routerLink="/staff">𝕾𝖙𝖆𝖋𝖋 𝕯𝖊𝖙𝖆𝖎𝖑𝖘</button></li>
          <br>
          <li><button mat-button colour="accent" href="" routerLink="/guest">𝕲𝖚𝖊𝖘𝖙 𝕯𝖊𝖙𝖆𝖎𝖑𝖘 </button></li>
          <br>
          <li> <button mat-button colour="accent" href="" routerLink="/room"> 𝕽𝖔𝖔𝖒 𝕯𝖊𝖙𝖆𝖎𝖑𝖘 </button></li>
          <br>
          <li><button mat-button colour="accent" href="" routerLink="/reservation">𝕭𝖔𝖔𝖐𝖎𝖓𝖌 𝕯𝖊𝖙𝖆𝖎𝖑𝖘 </button></li>
          <br>
          </ul>
          </div>
          </div>
    
   
    <div class="text-box">
      
      <p style="color:rgb(71, 243, 71)">*•.¸♡ ⓦ𝔼Ⓛ𝒸𝕆ᵐＥ ♡¸.•*</p>
      <br>
      <P style="color:rgb(48, 240, 48)">★·.·´¯`·.·★ ㄖｗήＥⓇ ★·.·´¯`·.·★ </P>
      <br ><p style="color:rgb(50, 219, 50)">●◉✿ ℙĹⒺค𝐒Ǘ𝕣𝕖 𝓉ㄖ Ｍєｅ𝓣 𝔂𝓞𝐔 ✿◉●</p><br>
      
    </div>
  
   
  </section>
