
.text-center{
  text-align: center;
  background-color:azure;
  width:100%
 

}

.example-container{
  height: 100%;
  width: 20%;
  text-align: left;

}
.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.mat-form-field{
  width: 100%;
}
.mt-top{
  margin-top: 30px;
}
.mt-top-2{
  margin-top: 10px;
}

.margin-left{
  margin-left: 2px;
}
.header{
  min-height: 100vh;
  width:100%;
  background-image:  url("/assets/login.webp") ;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 .center{
  text-align: right;
  font-size: 20px;
  color: white;
  letter-spacing: 5px;
  font-style: italic;
  font-family: 'Georgia', cursive;

} 
