<section class="header">
  <nav>
          <img src="../../assets/Images/logo.jpg"
              height="150px" width="150px" style="border-radius: 50%;" alt="...">
  
  <section class="center">
    <div>
          
        <br> 
    <p style="color: rgb(29, 230, 29);text-align: right;">After Successfully Registrered</p>
    <button  mat-raised-button color="accent"  routerLink="/login1"><mat-icon>trending_flat</mat-icon>Go to Next Page</button>
       
        
    </div>
</section>
</nav>
<div class="btn">
    <button class="btn btn-success" type="button" data-bs-toggle="modal"
    data-bs-target="#exampleModal">Guest/User Registration	<mat-icon>how_to_reg</mat-icon></button>
    </div>
      <h2 style="text-align:center; color:red">[.....All Guests Details.....]</h2>


      
      <table class="table table-dark" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Guest ID</th>
                <th scope="col">GuestName</th>
                <th scope="col">Guest Email</th>
                <th scope="col">Guest Gender</th>
                <th scope="col">Guest Address</th>
                <th scope="col">Guest Contact</th>
                <!-- <th scope="col">Action</th> -->
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let guest of guest">
                
                <td>{{guest.guestId}}</td>
                <td>{{guest.guestName}}</td>
                <td>{{guest.guestEmail}}</td>
                <td>{{guest.guestGender}}</td>
                <td>{{guest.guestAddress}}</td>
                <td>{{guest.guestContact}}</td>
               <td>
                    <button class="btn btn-success" type="button" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="onEditgue(guest)"><mat-icon>edit</mat-icon></button>
                    </td>
                    <td>
                    <button class="btn btn-danger" type="button"  (click)="deleteGuests(guest)"><mat-icon>cancel</mat-icon></button>
                </td>

              
            </tr>
        </tbody>

    </table>
  



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Guest Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Guest Id</label>
                        <input type="text" formControlName="guestId" placeholder="Enter Id" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Guest Name</label>
                        <input type="text" formControlName="guestName" placeholder="Enter Name" class="form-control"
                            id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Guest Email</label>
                        <input type="text" formControlName="guestEmail" placeholder="Enter Email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Guest Gender</label>
                        <input type="text" formControlName="guestGender" placeholder="Enter Gender" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Guest Address</label>
                        <input type="text" formControlName="guestAddress" placeholder="Enter Address" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Guest Contact</label>
                        <input type="text" formControlName="guestContact" placeholder="Enter Contact number"
                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="addGuests()">Add Details</button>
                  <button type="button" class="btn btn-primary" (click)="updateGuests()">Update Details</button>
                  
                </div>
            </div>
           
    </div>

 