
<!-- <router-outlet></router-outlet> -->
<section class="header">
  <nav>
    
    <a href="" routerLink="/dashboard">

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
             <img src="/assets/images.png"
                         
              height="150px" width="150px" style="border-radius: 50%;" alt="...">

             
          </div>
          
        </div>
      </div>
    </a>
  
  

    <!-- <div class="nav-links" id="navLinks"> -->
      <div>
     
     </div>
     <!-- <div class="nav-links" id="navLinks">
      <div class="d-flex">
        <ul>
          <li>  <button mat-button color="accent" routerLink="">LogOut<mat-icon>login</mat-icon></button></li>
          <br>
          <li><mat-icon>weekend</mat-icon><a href="" routerLink="/reservation">BOOKING DETAILS</a></li>
          <br>

          <li> <mat-icon> store_mall_directory</mat-icon>	<a href="" routerLink="/room">ROOM DETAILS</a></li>
          <br>

          <li><mat-icon>room_service</mat-icon><a href="" routerLink="/dept">DEPARTMENT DETAILS</a></li>
          <br>
          <li><mat-icon>person</mat-icon><a href="" routerLink="/guest">GUEST DETAILS</a></li>
         <br>

          <li><mat-icon>group</mat-icon>	<a href="" routerLink="/staff">STAFF DETAILS</a></li>
            <br>

        </ul> -->
      <!-- </div>
    </div> -->
    <div class="nav-links" id="navLinks">
    <div class="d-flex">
      <ul>
        <li>  <button mat-button color="accent" routerLink="">LogOut<mat-icon>login</mat-icon></button></li>
        <br>
        <li><button mat-button colour="accent" href="" routerLink="/login">♕𝕆ｗη𝔢я </button></li>
        <br>

        <li> <button mat-button colour="accent" href="" routerLink="/lgn">♟𝔐𝔞𝔫𝔞𝔤𝔢𝔯</button></li>
        <br>

        <li><button mat-button colour="accent"href="" routerLink="/receptnt">👮𝓡𝓮𝓬𝓮𝓹𝓽𝓲𝓸𝓷𝓲𝓼𝓽</button></li>
        </ul>
        </div>
        </div>
  </nav>
 
  <div class="text-box">
    
    <p style="color:rgb(71, 243, 71)">WELCOME......</p>
    <br>
    <P style="color:rgb(48, 240, 48)">To Dashboard...</P>
    <br ><p style="color:rgb(50, 219, 50)">Pleasure to meet you...</p><br>
    
  </div>

 
</section>