.container{
    background-image: url("/assets/payment.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    width: 100%;
}