
  <div class="pimg1">
     <div class="ptext">
        <span class="border">
          𝓗𝓸𝓽𝓮𝓵 𝓦𝓮𝓫𝓼𝓲𝓽𝓮
        </span>
    </div> 
  </div>
  <section class="section section-drak">
    <h2>𝕳𝖔𝖙𝖊𝖑 𝕸𝖆𝖓𝖆𝖌𝖊𝖒𝖊𝖓𝖙</h2>
    <p>
      Complimentary deluxe continental breakfast and wine receptions at our rooftop terrace. 
      Experience true comfort and value in the heart of downtown San Francisco. Book Now.
    </p>
    </section>
    <div class="pimg2">
      <div class="ptext">
          <span class="border tranf">
            𝕋𝕙𝕖 𝕆𝕦𝕥𝕝𝕠𝕠𝕜 𝕠𝕗 ℍ𝕠𝕥𝕖𝕝
          </span>
      </div>
  </div>
  <section class="section section-drak">
      <h2>𝓑𝓸𝓸𝓴𝓲𝓷𝓰 𝓼𝔂𝓼𝓽𝓮𝓶</h2>
      <p>
        Book Now, Pay When You Stay. List Your Property. Register Online. Sign Up For Deals. Become An Affiliate.
         Highlights: Press Center Available, Customer Service Available, Make Changes Online To Your Booking.
       
      </p>
      </section>
      <div class="pimg3">
          <div class="ptext">
              <span class="border trans">
                тнє нσтєℓ
              </span>
          </div>
      </div>
      <section class="section section-drak">
          <h2>Äßðµ† Hð†êl</h2>
          <p>
            Find the Best Great Hotels for You on Hotels.com. Browse Reviews & Photos. Great Deals to Send Your Loved Ones Somewhere Nice and Close or Far. Your Choice.
             Recommended Destinations. Family-Friendly Options. Enjoy Your Home Comforts. Real Customer Reviews.
           
          </p>
          </section>
          <div class="pimg1">
              <div class="ptext">
                  <span class="border">
                    𝓗𝓸𝓽𝓮𝓵 𝓦𝓮𝓫𝓼𝓲𝓽𝓮
                  </span>
              </div>
          </div>
