<section class="header">
    <nav>
  
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        
               <img src="/assets/images.png"
                           
                height="100px" width="100px" style="border-radius: 50%;" alt="...">
  
               
            </div>
        </nav>
            
        
      
      <div class="nav-links" id="navLinks">
      <div class="d-flex">
        <ul>
          <li>  <button mat-button color="accent" routerLink="/dashboard">ｌσ𝓰𝐎ย𝕥<mat-icon>login</mat-icon></button></li>
          <br>
          <li><button mat-button colour="accent" href="" routerLink="/guest">𝕲𝖚𝖊𝖘𝖙 𝕯𝖊𝖙𝖆𝖎𝖑𝖘 </button></li>
          <br>
          <li> <button mat-button colour="accent" href="" routerLink="/room"> 𝕽𝖔𝖔𝖒 𝕯𝖊𝖙𝖆𝖎𝖑𝖘 </button></li>
          </ul>
          </div>
          </div>
    
   
    
   
  </section>
