


<mat-toolbar  class='navbar' color='primary'>

    <div>
      ℌ𝔬𝔱𝔢𝔩
      <mat-icon> local_hotel</mat-icon>
  </div>
    <div>
        <a mat-stroked-button  routerLink=""> <mat-icon>home</mat-icon>ℌ𝔬𝔪𝔢</a>
     
      <a mat-stroked-button routerLink="/booking"><mat-icon>room</mat-icon>𝕽𝖔𝖔𝖒 𝕭𝖔𝖔𝖐𝖎𝖓𝖌</a>
      
      <a mat-stroked-button  routerLink="/aboutus"> <mat-icon> list_alt</mat-icon>𝓐𝔟𝕆𝓊𝐭 𝐔ѕ</a>
      <a mat-stroked-button routerLink="/contactus">	<mat-icon>portrait</mat-icon>𝕮𝖔𝖓𝖙𝖆𝖈𝖙 𝖀𝖘</a>
      <!-- <button mat-stroked-button routerLink="/login">Login<mat-icon>login</mat-icon></button> -->
      <a mat-stroked-button routerLink="/dashboard"><mat-icon>list</mat-icon>𝕯𝖆𝖘𝖍𝖇𝖔𝖆𝖗𝖉</a>
    </div>
    
  </mat-toolbar>

  
