<div class="bg-img">

    <div class="text-center">
      
      <h4 class="text-center">	<mat-icon>https</mat-icon> Please Login </h4>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
        <div class="example-container">
          <div>
            <mat-form-field style="color:aliceblue">
              <input style="color:aliceblue" matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="!loginForm.get('name')?.errors?.required && (loginForm.get('name')?.errors?.pattern)">
                Please enter a valid name address
              </mat-error>
              <mat-error *ngIf="loginForm.get('name')?.invalid && (loginForm.get('name')?.dirty || loginForm.get('name')?.touched) && loginForm.get('name')?.errors?.required">
                Name is required
              </mat-error>
              
            </mat-form-field>
          </div>
         
          <div class="mt-top-2">
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">    
              <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
              </mat-error>
              <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mt-top">
            <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button>Sign In</button>
          </div>
        </div>
      </form>
      </div>
    </div>

